body{
    box-sizing: none;
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.column-container{
    background-color: #27a;
}

.container-btn{
    display: flex;
    justify-content: center;
}

#btn{
    padding: 10px 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    background-color: #498;
    color: #fff;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    border: none;
    margin: 5px;
}